.footer {
    position: fixed;
    max-height: 30px;
    display: flex;
    align-items: center;
    background-color: darkslateblue;
    font-size: 12px;
    bottom: 0;
    justify-content: flex-end;
}

.footer i {
    padding-right: 5px;
    font-size: 14px;
    vertical-align: middle;
}